.aboutcss {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    --background: linear-gradient(to bottom right, #262ae6, #e0e0e0);

    /* Ensure the content takes the full height of the screen */
}

.aboutcsss {

    --background: linear-gradient(to bottom right, #f4f4f8, #e0e0e0);

    /* Ensure the content takes the full height of the screen */
}


ion-card {
    width: 90%;
    /* Make the card smaller, you can adjust this value */
    max-width: 500px;
    /* Set a maximum width */
    margin-bottom: 20px;
    /* Space between the cards */
}

ion-card-title {
    text-align: center;
    /* Center the title text */
}

ion-card-subtitle {
    text-align: center;
    /* Center the subtitle text */
}