<ion-header>
    <ion-toolbar>
        <ion-title style="text-align: center;">Welcome at my Portofolio</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <div class="hero-section">
        <h1>Hey, I'm Ioannis Artachanidis</h1>
        <p>A Full Stack Developer building modern web applications that deliver excellent user experiences.</p>

        <div class="hero-buttons">
            <ion-button href="/about">About</ion-button>
            <ion-button href="/projects">Projects</ion-button>
            <ion-button href="/contact">Contact</ion-button>
        </div>
    </div>
    <ion-grid class="social-icons">
        <ion-row>
            <ion-col size="auto">
                <ion-icon name="logo-linkedin" size="large"></ion-icon>
            </ion-col>
            <ion-col size="auto">
                <ion-icon name="logo-github" size="large"></ion-icon>
            </ion-col>
        </ion-row>
    </ion-grid>




</ion-content>