<ion-app>
    <ion-header>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="/"></ion-back-button>
            </ion-buttons>
            <ion-title>My Resume</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
        <div class="resume-container">
            <ion-button href="assets/artachanidis-bio.pdf" target="_blank" color="primary">
                Open Resume
            </ion-button>
            <ion-button href="assets/artachanidis-bio.pdf" download color="secondary">
                Download Resume
            </ion-button>
        </div>
    </ion-content>
</ion-app>